.tool-container {
    display:flex;
    flex-direction: left;
    height: 100vh;
}

.left {
    width:10%
}

.center {
    width: 80%;
    display: flex;
}

.tool-card {
    margin-left: 20px;
    margin-top: 30px;
    width: 100%;
}

.right {
    width: 10%;
}

.tool-title{
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.tool-title img {
    margin-right: 6px;
    margin-bottom: 5px;
}
