.feedback-submit {
    height: 40px; 
}

.feedback p {
    font-size: 16px;
    margin-left: 10px;
}

.feedback-area {
    display: flex;
    flex-direction: row;
}

.feedback-area Button {
    margin-left:10px;
}