.rembg-upload {
    border: 2px dashed #ccc;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rembg-body {
    width: 100%;
}

.original-bg {
    background-image: url('../../../asset/image/tool/grid.png');
    min-width: 24px;
    height: 24px;
    line-height: 24px;
    border: 1px solid #ccc;
    display: inline-block;
    background-size: 24px;
    color: #666;
    text-decoration: none;
    padding: 4px;
    margin-right: 10px;
}

.original-bg-active {
    border-color: blue
}

.bg-red {
    background-color: red;
    min-width: 24px;
    height: 24px;
    line-height: 24px;
    border: 1px solid #ccc;
    display: inline-block;
    background-size: 24px;
    color: #666;
    text-decoration: none;
    padding: 4px;
}

.bg-red-active {
    border-color: blue
}

.rembg-params {
    margin-top: 20px;
}

.rembg-params button {
    margin-top: 20px;
}

.rembg-result img{
    width:240px;
    height: 240px;
    margin-top: 20px;
    margin-right: 20px;
}